table {
  min-width: 1000px !important;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: auto;
}

thead {
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 4rem;
  text-align: left;

  th {
    padding: 1.5rem;
  }
}

tbody {
  background-color: var(--light-color);
  height: 3rem;
  text-align: left;

  td {
    padding: 1.5rem;
  }
}
